language: rust
cache: cargo

rust:
  - stable
  - nightly-2019-08-09

before_script:
  - bash -c 'if [[ "$TRAVIS_RUST_VERSION" == "nightly-2019-08-09" ]]; then
     rustup component add clippy-preview;
    fi'

script:
  - cargo build
  - cargo test
  - cargo doc --no-deps
  - cargo build --all-features
  - cargo test --all-features
  - cargo doc --all-features --no-deps
  - bash -c 'if [[ "$TRAVIS_RUST_VERSION" == "nightly-2019-08-09" ]]; then cargo clippy --all -- -D warnings; fi'
  - bash -c 'if [[ "$TRAVIS_RUST_VERSION" == "nightly-2019-08-09" ]]; then cargo build --benches --all-features --all --release; fi'
